*{
    margin: 0;
    padding: 0;
}

.firstsection{
    border: 2px solid gray;
    height: 10rem;
}

.first{
    text-align: center;
    font-size: 4rem;
}

.first h1{
    margin: 0;
}

.second{
    display: flex;
    margin: 1.5rem;
}

.secondsection{
    border: 2px solid gray;
    height:20rem;
    width: 35rem;
}

.secondsection h3{
    font-size: 3.5rem;
}

.secondsection p{
    margin-top: .8rem;
}

.border{
    border: 2px solid gray;
    height: 20rem;
    width: 35rem;
    margin-left: 5rem;
}

.four{
    display: flex;
    gap: 5rem;
    margin: 1.7rem;
}

.four .sectionfour h1{
    font-size: 3.5rem;
    width: 33rem;
}

.four p{
    margin-top: 4.8rem;
}

.five{
    display: flex;
    margin: 3rem;
    gap: 2rem;
}

.sectionfive{
    border: 2px solid gray;
    height: 15rem;
    width: 39rem;
}

.fiveone{
    border: 2px solid gray;
    height: 13rem;
    width: 39rem;
    margin-top: 16rem;
}

.fivetwo{
    border: 2px solid gray;
    height: 28rem;
    width: 39rem;
    margin-top: .7rem;
}


.six .season h1{
    font-size: 5rem;
    width: 45rem;
}

.six .season p{
    margin-top: .6rem;
    width: 45rem;
}

.sectionsix{
    border: 2px solid gray;
    height: 14rem;
    width: 48rem;
}

.sixone{
    border: 2px solid gray;
    height: 15rem;
    width: 45rem;
    margin-top: .5rem;
}