*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

:root{
    --textcolor--: white;
    --sectextcolor--:whitesmoke;
    --btncolor--: rgb(14, 8, 40);
}

html , body{
    overflow-x: hidden;
}

a{
    color: var(--btncolor--);
}

a:hover{
    background-color: rgb(154, 148, 138);
    color: var(--btncolor--);
    padding: 8px 15px;
    border-radius: 20px;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 700;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: var(--textcolor--);
    display: flex;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url(IMG/hero-bg.jpg);
    background-position: left;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-containt{
    margin-bottom: 150px;
    color: var(--textcolor--);
    text-align: center;
}

h1.yellow{
    color: var(--sectextcolor--);
}

.header-containt h1{
    font-size: 7vmin;
}

.header-containt h1.yellow{
    margin-bottom: 35px;
}

.header-containt p{
    margin: 30px 60px;
    font-size: 3vmin;
    width: 90%;
}

.header-containt .ctn{
    padding: 10px 20px;
    border: 1px solid var(--btncolor--);
    border-radius: 30px;
    background: var(--btncolor--);
    color: rgb(255, 255, 255);
    font-size: 3.5vmin;
}

a.ctnyellow{
    padding: 10px 20px;
    border: 1px solid var(--btncolor--);
    border-radius: 30px;
    color: var(--textcolor--);
    background: var(--btncolor--);
    font-size: 3.5vmin;
}

.ctn:hover{
    background-color: var(--textcolor--);
    color: var(--btncolor--);
    border: 1px solid var(--textcolor--);
}

.ctnyellow:hover{
    background-color: var(--sectextcolor--);
    color: var(--btncolor--);
    border: 1px solid var(--sectextcolor--);
}

.menu-btn{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 40px;
        cursor: pointer;
        display: none;
}

section{
    width: 90%;
    margin: 80px auto;
}

.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

div.col{
    background: whitesmoke;
    border-radius: 9px;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .row{
    margin-top: 50px;
}

.about h1{
    font-size: 7vmin;
    color: var(--btncolor--);
    margin: 20px auto;
}

p{
    text-align: center;
    padding: 0px 40px;
}

.about .row .col img{
    border-radius: 8px;
    transition: 0.5s ease;
    margin-bottom: 20px;
    width: 45%;
}

.about .ctn{
    margin-top: 30px;
    margin-bottom: 20px;
    border: 2px solid var(--btncolor--);
    padding: 10px 20px;
    border-radius: 30px;
    color: var(--sectextcolor--);
    background: var(--btncolor--);
}

.about .ctn:hover{
    background: var(--sectextcolor--);
    color: var(--btncolor--);
}



@media only screen and (max-width: 950px){
    .menu-btn{
        display: block;
    }

    a{
        color: var(--textcolor--);
    }

    .navbar{
        padding: 0;
        color: var(--textcolor--);
    }

    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }

    ul{
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        margin: auto auto;
        background: var(--btncolor--);
        margin-top: -999px;
        transition: all 0.5s ease;
    }

    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }

    .row{
        flex-direction: column;
    }

    .row .col {
        margin: 20px auto;
    }

    .col img{
        max-width: 90%;
    }
}

section .service{
    width: 100%;
    height: 80vh;
}

.service h1{
    font-size: 8vmin;
    text-align: center;
    font-weight: bold;
    color: var(--btncolor--);
}

.service h4{
    font-size: 5vmin;
    text-align: center;
}

.service p{
    margin-top: 15px;
}

.service .ctn{
    color: var(--textcolor--);
    border: 1px solid var(--btncolor--);
    padding: 10px 15px;
    border-radius: 30px;
    margin-bottom: 20px;
    background: var(--btncolor--);
}

.service .ctn:hover{
    background-color: var(--textcolor--);
    color: var(--btncolor--);
}

.service img{
     width: 15vw;
     margin-top: 10px;
}

.service-content{
    background: whitesmoke;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.client h1{
    font-size: 8vmin;
    text-align: center;
    font-weight: bold;
}

.client img{
    width: 30vw;
    border-radius: 2%;
    margin-top: 15px;
}

.client h4{
    font-size: 4vmin;
    text-align: center;
    margin-bottom: 20px;
    color: var(--btncolor--);

}

.client p{
    font-size: 3vmin;
}

div.client-content{
    text-align: center;
    background-color: var(--sectextcolor--);
}

.contact{
    background-image: url(IMG/contact-bg.jpg);
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact h1{
    text-align: center;
    font-size: 7vmin;
    font-weight: bold;
    color: var(--btncolor--);
    margin-bottom: 25px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

input.name{
    padding: 6px 13px;
    background-color: var(--btncolor--);
    border: none;
    width: 55vw;
    color: var(--textcolor--);
}

input.email{
    padding: 6px 13px;
    background-color: var(--btncolor--);
    border: none;
    width: 55vw;
    color: var(--textcolor--);
}

input.phone{
    padding: 6px 13px;
    background-color: var(--btncolor--);
    border: none;
    width: 55vw;
    color: var(--textcolor--);
}

input.message{
    padding: 25px 40px;
    background-color: var(--btncolor--);
    border: none;
    width: 55vw;
    color: var(--textcolor--);
}

.contact .ctn{
    border: 2px solid var(--btncolor--);
    padding: 10px 40px;
    border-radius: 30px;
    background-color: var(--btncolor--);
    color: var(--textcolor--);
    width: max-content;
    align-self: center;
    margin-top: 20px;
}

.contact .ctn:hover{
    border: 1px solid var(--btncolor--);
    background-color: var(--textcolor--);
    color: var(--btncolor--);
}

.guards{
    text-align: center;
}

.guards h1{
    font-size: 8vmin;
    font-weight: bold;
    color: var(--btncolor--);
}

.guards p{
    margin-top: 10px;
}
.guards img{
    width: 100%;
    margin-top: 30px;
}

.guards-info{
    background: linear-gradient(45deg, #100b1f45, #0e0a1a4f);
    width: 100%;
    height: 20vh;
    color: white;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}